<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
    
<!-- 	<script th:src="@{/static/js/test.js}"></script> -->
    
</head>
<body>
URL:<br/>
<a href="" th:href="@{http://www.imooc.com}">网站地址</a>
<br/>

<table>
    <tr>
        <th>姓名</th>
        <th>密码</th>
        <th>年龄</th>
        <th>生日</th>
    </tr>
    <tr th:each="person:${userList}">
        <td th:text="${person.username}"></td>
        <td th:text="${person.password}"></td>
        <td th:text="${person.age gt 18} ? 你老了 : 你很年轻">18岁</td>
        <td th:text="${#dates.format(person.birthday, 'yyyy-MM-dd hh:mm:ss')}"></td>
    </tr>
</table>
<br/>
</body>
</html>